run = "bash run-replit.sh"
entrypoint = "src/com/banking/BankingApp.java"
modules = ["java-graalvm22.3:v4-20230523-d424669"]

[nix]
channel = "stable-23_05"

[languages]
[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[deployment]
run = ["bash", "run.sh"]
